.container-fgpw {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}
.card {
    padding: 30px;
    border-radius: 8px;
    width: 400px;
}
.btn-primary {
    background-color: #1e3a8a; /* Blue-800 */
    border: none;
}
.btn-primary:hover {
    background-color: #1e40af;
}
.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}
.divider::before, .divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
}
.divider:not(:empty)::before {
    margin-right: 10px;
}
.divider:not(:empty)::after {
    margin-left: 10px;
}
.btn-create-account{
    background-color: white;
    border: 1px solid rgb(56, 63, 131);
    color:#1e3a8a
}
.btn-create-account:hover{
    background-color: #a7b2d2;
    color:white
}